<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687623043998-gjvfj4n0c0ksl3pc1oq1668hfrpaklp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687623043998-gjvfj4n0c0ksl3pc1oq1668hfrpaklp0</string>
	<key>API_KEY</key>
	<string>AIzaSyCbokPWD0zU4WcqqPNYMmsZ24YuOiayS2c</string>
	<key>GCM_SENDER_ID</key>
	<string>687623043998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quantumAssignment</string>
	<key>PROJECT_ID</key>
	<string>qunatum-task</string>
	<key>STORAGE_BUCKET</key>
	<string>qunatum-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687623043998:ios:486510e26d3e4a2d4bf48f</string>
</dict>
</plist>